.User-Container
  .User-Background
    width: 375px
    height: 299px
    background-image: linear-gradient(0deg, #1B6090 0%, #0B3157 100%)
    div
      display: flex
      flex-direction: column
      width: 100%
      height: 100%
      background-size: cover
      align-items: center
      justify-content: center
      .User-Photo
        display: flex
        background-image: url("../../assets/img/developer.png")
        background-size: 100%
        height: 125px
        width: 125px
        border-radius: 64px
        border: 3px solid #ffffff
        background-color: white
      .User-Name
        color: #e8e9eb
        margin-top: 20px
        letter-spacing: -0.3px
        line-height: 24px
        font-family: "Montserrat", sans-serif
        text-align: center
        width: 250px
        overflow: hidden
        font-size: 20px
        font-weight: 700
        height: 22px
  .User-Info
    display: flex
    width: 375px
    min-height: 70px
    background-color: #e8e9eb
    flex-direction: column
    .User-InfoType
      margin: 12px 0 0 15px
      color: #0b3157
      font-family: "Montserrat", sans-serif
      font-size: 12px
      font-weight: 400
      line-height: 14px
      opacity: 0.5
      width: 343px
      text-align: left
    .User-Value
      margin-left: 15px
      color: #0b3157
      font-family: "Montserrat", sans-serif
      font-size: 16px
      font-weight: 500
      letter-spacing: -0.44px
      line-height: 19px
      width: 343px
      text-align: left
      padding-bottom: 5px
  .User-Splitter
    width: 375px
    height: 1px
    background-color: #D1D6DC